1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [32]:
for i in range(1,101):
    if i%3 == 0 and i%5 != 0:
        print('Mickey')
    elif i%5 == 0 and i%3 != 0:
        print('Mouse')
    elif i%5==0 and i%3==0:
        print('MickeyMouse')
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [36]:
t=[]
for i in range(1,101):
    t.insert(i-1,i)
    if i%3==0:
        t[i-1]='Mickey'
    elif i%5==0:
        t[i-1]='Mouse'
    if i%5==0 and i%3==0:
        t[i-1]='MickeyMouse'
print(t,'\n')

for i in range(0,len(t)):
    if t[i]=='Mickey':
        t[i]='Donald'
    if t[i]=='Mouse':
        t[i]='Duck'
    if t[i]=='MickeyMouse':
        t[i]='DonaldDuck'

print(t)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [45]:
def swap( a,b ):
    c = a
    a = b
    b = c
    return( a,b )

a = "Theo"
b = 7
print("a = ", a, "\nb = ", b )
a,b = swap( a,b )
print("Swap: ")

print("a = ", a, "\nb = ", b )

def swap_notmp(a,b):
    a,b = b,a
    return( a,b )
    

a = "Theo"
b = 7
print("\na = ", a, "\nb = ", b )
a,b = swap_notmp( a,b )
print("Swap no tmp: ")

print("a = ", a, "\nb = ", b )

a =  Theo
b =  7
Swap:
a =  7
b =  Theo

a =  Theo
b =  7
Swap no tmp:
a =  7
b =  Theo

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [51]:
def dist(u, v):
    d = ((u[0] - v[0])**2 + (u[1] - v[1])**2)**0.5
    return d
u = [3,0]
v = [0,4]

print(dist(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [210]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

def counting(s):
    string=s.lower()
    counts = {} 
    string=sorted(string)
    for i in string: 
        if i in counts: 
            counts[i] += 1
        else: 
            counts[i] = 1
    return (counts)

counting(s)

{' ': 41,
 '.': 2,
 '0': 2,
 '1': 2,
 'a': 7,
 'b': 5,
 'c': 3,
 'd': 3,
 'e': 22,
 'f': 10,
 'g': 1,
 'h': 9,
 'i': 14,
 'k': 2,
 'l': 6,
 'm': 12,
 'n': 10,
 'o': 13,
 'p': 8,
 'r': 17,
 's': 9,
 't': 19,
 'u': 9,
 'v': 2,
 'w': 2,
 'y': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [56]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
l.sort()
def isolate_unique(l):
    s=[]
    for i in range(0,80):
        if l.count(l[i])==1:
            s.append(l[i])
    s.sort()
    return(s)
print("Unique numbers: ",isolate_unique(l))
print("\nThey are: ",len(isolate_unique(l)))

Unique numbers:  [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

They are:  37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [57]:
def sq(x):
    return x**2
def cube(x):
    return x**3
def sixth(x):
    return(cube(sq(x)))
sixth(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [59]:
a=[]
for x in range (0,11):
    a.append(x**3)
print('For loop: ',a)

l = [x**3 for x in range(11)]
print('\nList comprehension:', l)

For loop:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

List comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [214]:
l = [(a,b,c) for a in range(1,100) for b in range(a,100) for c in range(b,100) if a**2+b**2==c**2]
l

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [66]:
def normalization(s):
    norm = [float(i)/sum(s) for i in s]
    return(tuple(norm))

s=(3,1,5)
print('initial tuple',s)
print('Normalized tuple:',normalization(s))
print('sum(tuple)=',sum(normalization(s)))

initial tuple (3, 1, 5)
Normalized tuple: (0.3333333333333333, 0.1111111111111111, 0.5555555555555556)
sum(tuple)= 1.0