# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print (xs,'\n')
print (xs.index,'\n')
# Values of the Series are actually a numpy array
print (xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')

a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [4]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [5]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [6]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
s[1:] + s[:-1]

a         NaN
b    2.365131
c   -2.349843
d    3.110911
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [7]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
date = dt.datetime(2018,11,19,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 19 2018'
date = '19/11/2018 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2018-11-19 14:45:10.000015
19/11/2018 14:45:00
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-20 14:45:00',
               '2018-11-21 14:45:00', '2018-11-22 14:45:00',
               '2018-11-23 14:45:00', '2018-11-24 14:45:00',
               '2018-11-25 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 14:45:01',
               '2018-11-19 14:45:02', '2018-11-19 14:45:03',
               '2018-11-19 14:45:04', '2018-11-19 14:45:05',
               '2018-11-19 14:45:06', '2018-11-19 14:45:07',
               '2018-11-19 14:45:08', '2018-11-19 14:45:09',
               ...
               '2018-11-19 15:44:50', '2018-11-19 15:44:51',
               '2018-11-19 15:44:52', '2018-11-19 15:44:53',
               '2018-11-19 15:44:54', '2018-11-19 15:44:55',
               '2018-11-19 15:44:56', '2018-11-19 15:44:57',
               '2018-11-19 15:44:58', '2018-11-19 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [8]:
tstamp = pd.Timestamp(dt.datetime(2018, 11, 19))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
print (pd.to_datetime('2010/11/12', format='%Y/%m/%d'))
print (pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M'))

1542585600000000000
2010-11-12 00:00:00
2010-11-12 00:00:00

A standard series can be created and (range of) elements can be used as indexes

In [10]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2018-11-19':'2018-11-21'], '\n') # Note - includes end time

2018-11-19 14:45:00    10.823225
2018-11-20 14:45:00     9.138948
2018-11-21 14:45:00    10.375257
2018-11-22 14:45:00    10.038450
Freq: D, dtype: float64

2018-11-19 14:45:00    10.823225
2018-11-20 14:45:00     9.138948
2018-11-21 14:45:00    10.375257
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [11]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [12]:
entries=10
dates=pd.date_range('19/11/2018 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2018-11-19 14:45:00  0.966879 -0.062950  0.232951  0.730495
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.214690
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  1.230230
2018-11-19 17:45:00 -1.916926  1.196787  0.182764 -0.143292
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  1.105341
2018-11-19 19:45:00 -1.193706 -0.727989  0.788002  1.193062
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  0.998218
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  0.143816
2018-11-19 22:45:00  0.447642 -0.979925 -0.397127 -0.576640
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735 -0.786378

or by means of a dictionary:

In [13]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )

In [14]:
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [15]:
df.head()

                            A         B         C         D
2018-11-19 14:45:00  0.966879 -0.062950  0.232951  0.730495
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.214690
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  1.230230
2018-11-19 17:45:00 -1.916926  1.196787  0.182764 -0.143292
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  1.105341

In [16]:
df.tail(4)

                            A         B         C         D
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  0.998218
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  0.143816
2018-11-19 22:45:00  0.447642 -0.979925 -0.397127 -0.576640
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735 -0.786378

In [17]:
df.index

DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 15:45:00',
               '2018-11-19 16:45:00', '2018-11-19 17:45:00',
               '2018-11-19 18:45:00', '2018-11-19 19:45:00',
               '2018-11-19 20:45:00', '2018-11-19 21:45:00',
               '2018-11-19 22:45:00', '2018-11-19 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 0.9668788 , -0.06294999,  0.23295069,  0.73049479],
       [-1.67204332,  0.17452915, -0.04625136,  0.21469011],
       [ 0.34225294, -0.24492054,  1.29544948,  1.23022999],
       [-1.91692597,  1.19678662,  0.18276355, -0.14329199],
       [-0.3177297 ,  0.24923703,  1.41447882,  1.10534123],
       [-1.19370642, -0.72798901,  0.78800193,  1.19306193],
       [-0.89612758,  0.40554352,  1.00077658,  0.99821799],
       [-0.55665928,  0.93760431,  1.21087263,  0.14381618],
       [ 0.44764161, -0.97992465, -0.39712663, -0.57663953],
       [-0.38416733, -1.06910539,  1.37073477, -0.78637755]])

In [20]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.518059  -0.012119   0.705265   0.410954
std     0.932455   0.764790   0.659974   0.748189
min    -1.916926  -1.069105  -0.397127  -0.786378
25%    -1.119312  -0.607222   0.195310  -0.071515
50%    -0.470413   0.055790   0.894389   0.472592
75%     0.177257   0.366467   1.274305   1.078560
max     0.966879   1.196787   1.414479   1.230230

In [21]:
df.T

,2018-11-19 14:45:00,2018-11-19 15:45:00,2018-11-19 16:45:00,2018-11-19 17:45:00,2018-11-19 18:45:00,2018-11-19 19:45:00,2018-11-19 20:45:00,2018-11-19 21:45:00,2018-11-19 22:45:00,2018-11-19 23:45:00
A,0.966879,-1.672043,0.342253,-1.916926,-0.317730,-1.193706,-0.896128,-0.556659,0.447642,-0.384167
B,-0.062950,0.174529,-0.244921,1.196787,0.249237,-0.727989,0.405544,0.937604,-0.979925,-1.069105
C,0.232951,-0.046251,1.295449,0.182764,1.414479,0.788002,1.000777,1.210873,-0.397127,1.370735
D,0.730495,0.214690,1.230230,-0.143292,1.105341,1.193062,0.998218,0.143816,-0.576640,-0.786378

In [22]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2018-11-19 14:45:00  0.730495  0.232951 -0.062950  0.966879
2018-11-19 15:45:00  0.214690 -0.046251  0.174529 -1.672043
2018-11-19 16:45:00  1.230230  1.295449 -0.244921  0.342253
2018-11-19 17:45:00 -0.143292  0.182764  1.196787 -1.916926
2018-11-19 18:45:00  1.105341  1.414479  0.249237 -0.317730
2018-11-19 19:45:00  1.193062  0.788002 -0.727989 -1.193706
2018-11-19 20:45:00  0.998218  1.000777  0.405544 -0.896128
2018-11-19 21:45:00  0.143816  1.210873  0.937604 -0.556659
2018-11-19 22:45:00 -0.576640 -0.397127 -0.979925  0.447642
2018-11-19 23:45:00 -0.786378  1.370735 -1.069105 -0.384167

In [23]:
df.sort_values(by="C")

                            A         B         C         D
2018-11-19 22:45:00  0.447642 -0.979925 -0.397127 -0.576640
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.214690
2018-11-19 17:45:00 -1.916926  1.196787  0.182764 -0.143292
2018-11-19 14:45:00  0.966879 -0.062950  0.232951  0.730495
2018-11-19 19:45:00 -1.193706 -0.727989  0.788002  1.193062
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  0.998218
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  0.143816
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  1.230230
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735 -0.786378
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  1.105341

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [24]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2018-11-19 14:45:00    0.966879
2018-11-19 15:45:00   -1.672043
2018-11-19 16:45:00    0.342253
2018-11-19 17:45:00   -1.916926
2018-11-19 18:45:00   -0.317730
2018-11-19 19:45:00   -1.193706
2018-11-19 20:45:00   -0.896128
2018-11-19 21:45:00   -0.556659
2018-11-19 22:45:00    0.447642
2018-11-19 23:45:00   -0.384167
Freq: H, Name: A, dtype: float64

2018-11-19 14:45:00    0.966879
2018-11-19 15:45:00   -1.672043
2018-11-19 16:45:00    0.342253
2018-11-19 17:45:00   -1.916926
2018-11-19 18:45:00   -0.317730
2018-11-19 19:45:00   -1.193706
2018-11-19 20:45:00   -0.896128
2018-11-19 21:45:00   -0.556659
2018-11-19 22:45:00    0.447642
2018-11-19 23:45:00   -0.384167
Freq: H, Name: A, dtype: float64

In [25]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2018-11-19 14:45:00":"2018-11-19 16:45:00"])

                            A         B         C         D
2018-11-19 14:45:00  0.966879 -0.062950  0.232951  0.730495
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.214690
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  1.230230
                            A         B         C         D
2018-11-19 14:45:00  0.966879 -0.062950  0.232951  0.730495
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.214690
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  1.230230

### Selection by label

In [29]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.966879
B   -0.062950
C    0.232951
D    0.730495
Name: 2018-11-19 14:45:00, dtype: float64

In [30]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2018-11-19 14:45:00  0.966879 -0.062950
2018-11-19 15:45:00 -1.672043  0.174529
2018-11-19 16:45:00  0.342253 -0.244921
2018-11-19 17:45:00 -1.916926  1.196787
2018-11-19 18:45:00 -0.317730  0.249237
2018-11-19 19:45:00 -1.193706 -0.727989
2018-11-19 20:45:00 -0.896128  0.405544
2018-11-19 21:45:00 -0.556659  0.937604
2018-11-19 22:45:00  0.447642 -0.979925
2018-11-19 23:45:00 -0.384167 -1.069105

In [31]:
# showing label slicing, both endpoints are included:
df.loc['2018-11-19 18:45:00':'2018-11-19 20:45:00',['A','B']]

                            A         B
2018-11-19 18:45:00 -0.317730  0.249237
2018-11-19 19:45:00 -1.193706 -0.727989
2018-11-19 20:45:00 -0.896128  0.405544

In [32]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-1.6720433234978085
-1.6720433234978085

### Selecting by position

In [33]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -1.916926
B    1.196787
C    0.182764
D   -0.143292
Name: 2018-11-19 17:45:00, dtype: float64

                            A         B
2018-11-19 17:45:00 -1.916926  1.196787
2018-11-19 18:45:00 -0.317730  0.249237

In [34]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2018-11-19 15:45:00 -1.672043 -0.046251
2018-11-19 16:45:00  0.342253  1.295449
2018-11-19 18:45:00 -0.317730  1.414479

In [35]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C        D
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.21469
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  1.23023

                            B         C
2018-11-19 14:45:00 -0.062950  0.232951
2018-11-19 15:45:00  0.174529 -0.046251
2018-11-19 16:45:00 -0.244921  1.295449
2018-11-19 17:45:00  1.196787  0.182764
2018-11-19 18:45:00  0.249237  1.414479
2018-11-19 19:45:00 -0.727989  0.788002
2018-11-19 20:45:00  0.405544  1.000777
2018-11-19 21:45:00  0.937604  1.210873
2018-11-19 22:45:00 -0.979925 -0.397127
2018-11-19 23:45:00 -1.069105  1.370735

In [36]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.1745291481048634

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [37]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  0.214690
2018-11-19 17:45:00 -1.916926  1.196787  0.182764 -0.143292
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  1.105341
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  0.998218
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  0.143816

In [38]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2018-11-19 14:45:00  0.966879       NaN  0.232951  0.730495
2018-11-19 15:45:00       NaN  0.174529       NaN  0.214690
2018-11-19 16:45:00  0.342253       NaN  1.295449  1.230230
2018-11-19 17:45:00       NaN  1.196787  0.182764       NaN
2018-11-19 18:45:00       NaN  0.249237  1.414479  1.105341
2018-11-19 19:45:00       NaN       NaN  0.788002  1.193062
2018-11-19 20:45:00       NaN  0.405544  1.000777  0.998218
2018-11-19 21:45:00       NaN  0.937604  1.210873  0.143816
2018-11-19 22:45:00  0.447642       NaN       NaN       NaN
2018-11-19 23:45:00       NaN       NaN  1.370735       NaN

### Setting

Combination of selection and setting of values

In [39]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [40]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.062950  0.232951  5  0.0        0  1.000000
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  5  0.5        2  0.999962
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  5  1.0        4  0.999848
2018-11-19 17:45:00 -1.916926  1.196787  0.182764  5  1.5        6  0.999657
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  5  2.0        8  0.999391
2018-11-19 19:45:00 -1.193706 -0.727989  0.788002  5  2.5       10  0.999048
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  5  3.0       12  0.998630
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  5  3.5       14  0.998135
2018-11-19 22:45:00  0.447642 -0.979925 -0.397127  5  4.0       16  0.997564
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735  5  4.5       18  0.996917

In [41]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.062950 -0.232951 -5  0.0        0 -1.000000
2018-11-19 15:45:00 -1.672043 -0.174529 -0.046251 -5 -0.5       -2 -0.999962
2018-11-19 16:45:00 -0.342253 -0.244921 -1.295449 -5 -1.0       -4 -0.999848
2018-11-19 17:45:00 -1.916926 -1.196787 -0.182764 -5 -1.5       -6 -0.999657
2018-11-19 18:45:00 -0.317730 -0.249237 -1.414479 -5 -2.0       -8 -0.999391
2018-11-19 19:45:00 -1.193706 -0.727989 -0.788002 -5 -2.5      -10 -0.999048
2018-11-19 20:45:00 -0.896128 -0.405544 -1.000777 -5 -3.0      -12 -0.998630
2018-11-19 21:45:00 -0.556659 -0.937604 -1.210873 -5 -3.5      -14 -0.998135
2018-11-19 22:45:00 -0.447642 -0.979925 -0.397127 -5 -4.0      -16 -0.997564
2018-11-19 23:45:00 -0.384167 -1.069105 -1.370735 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [42]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2018-11-19 14:45:00  0.000000 -0.062950  0.232951  5  0.0  1.000000
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  5  0.5  0.999962
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  5  1.0  0.999848
2018-11-19 17:45:00 -1.916926  1.196787  0.182764  5  1.5  0.999657
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  5  2.0  0.999391
2018-11-19 19:45:00 -1.193706 -0.727989  0.788002  5  2.5  0.999048
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  5  3.0  0.998630
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  5  3.5  0.998135
2018-11-19 22:45:00  0.447642 -0.979925 -0.397127  5  4.0  0.997564
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735  5  4.5  0.996917

In [43]:
# Dropping by raws
# save and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.062950  0.232951  5  0.0        0  1.000000
2018-11-19 19:45:00 -1.193706 -0.727989  0.788002  5  2.5       10  0.999048
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  5  3.0       12  0.998630
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  5  3.5       14  0.998135
2018-11-19 22:45:00  0.447642 -0.979925 -0.397127  5  4.0       16  0.997564
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735  5  4.5       18  0.996917

In [44]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2018-11-19 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.062950  0.232951  5  0.0        0  1.000000
2018-11-19 15:45:00 -1.672043  0.174529 -0.046251  5  0.5        2  0.999962
2018-11-19 16:45:00  0.342253 -0.244921  1.295449  5  1.0        4  0.999848
2018-11-19 17:45:00 -1.916926  1.196787  0.182764  5  1.5        6  0.999657
2018-11-19 18:45:00 -0.317730  0.249237  1.414479  5  2.0        8  0.999391
2018-11-19 19:45:00 -1.193706 -0.727989  0.788002  5  2.5       10  0.999048
2018-11-19 20:45:00 -0.896128  0.405544  1.000777  5  3.0       12  0.998630
2018-11-19 21:45:00 -0.556659  0.937604  1.210873  5  3.5       14  0.998135
2018-11-19 23:45:00 -0.384167 -1.069105  1.370735  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [45]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN       NaN  0.232951  5  NaN      NaN  1.000000
2018-11-19 15:45:00       NaN  0.174529       NaN  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.342253       NaN  1.295449  5  1.0      4.0  0.999848
2018-11-19 17:45:00       NaN  1.196787  0.182764  5  1.5      6.0  0.999657
2018-11-19 18:45:00       NaN  0.249237  1.414479  5  2.0      8.0  0.999391
2018-11-19 19:45:00       NaN       NaN  0.788002  5  2.5     10.0  0.999048
2018-11-19 20:45:00       NaN  0.405544  1.000777  5  3.0     12.0  0.998630
2018-11-19 21:45:00       NaN  0.937604  1.210873  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.447642       NaN       NaN  5  4.0     16.0  0.997564
2018-11-19 23:45:00       NaN       NaN  1.370735  5  4.5     18.0  0.996917

In [46]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [47]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2018-11-19 14:45:00   True   True  False  False   True     True   False
2018-11-19 15:45:00   True  False   True  False  False    False   False
2018-11-19 16:45:00  False   True  False  False  False    False   False
2018-11-19 17:45:00   True  False  False  False  False    False   False
2018-11-19 18:45:00   True  False  False  False  False    False   False
2018-11-19 19:45:00   True   True  False  False  False    False   False
2018-11-19 20:45:00   True  False  False  False  False    False   False
2018-11-19 21:45:00   True  False  False  False  False    False   False
2018-11-19 22:45:00  False   True   True  False  False    False   False
2018-11-19 23:45:00   True   True  False  False  False    False   False

In [48]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.000000  0.232951  5  0.0      0.0  1.000000
2018-11-19 15:45:00  0.000000  0.174529  0.000000  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.342253  0.000000  1.295449  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.000000  1.196787  0.182764  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.000000  0.249237  1.414479  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.000000  0.000000  0.788002  5  2.5     10.0  0.999048
2018-11-19 20:45:00  0.000000  0.405544  1.000777  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.000000  0.937604  1.210873  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.447642  0.000000  0.000000  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.000000  0.000000  1.370735  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [49]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN       NaN  0.232951  5  NaN      NaN  1.000000
2018-11-19 15:45:00       NaN  0.174529  0.232951  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.342253  0.174529  1.295449  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.342253  1.196787  0.182764  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.342253  0.249237  1.414479  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.342253  0.249237  0.788002  5  2.5     10.0  0.999048
2018-11-19 20:45:00  0.342253  0.405544  1.000777  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.342253  0.937604  1.210873  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.447642  0.937604  1.210873  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.447642  0.937604  1.370735  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [50]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A         -0.614747
B         -0.012119
C          0.705265
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2018-11-19 14:45:00    0.881429
2018-11-19 15:45:00    0.993742
2018-11-19 16:45:00    1.770376
2018-11-19 17:45:00    1.851755
2018-11-19 18:45:00    2.477911
2018-11-19 19:45:00    2.480765
2018-11-19 20:45:00    3.072689
2018-11-19 21:45:00    3.584279
2018-11-19 22:45:00    3.581165
2018-11-19 23:45:00    4.059197
Freq: H, dtype: float64

In [51]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.062950  0.232951   5   0.0        0  1.000000
2018-11-19 15:45:00 -1.672043  0.111579  0.186699  10   0.5        2  1.999962
2018-11-19 16:45:00 -1.329790 -0.133341  1.482149  15   1.5        6  2.999810
2018-11-19 17:45:00 -3.246716  1.063445  1.664912  20   3.0       12  3.999467
2018-11-19 18:45:00 -3.564446  1.312682  3.079391  25   5.0       20  4.998858
2018-11-19 19:45:00 -4.758152  0.584693  3.867393  30   7.5       30  5.997906
2018-11-19 20:45:00 -5.654280  0.990237  4.868170  35  10.5       42  6.996536
2018-11-19 21:45:00 -6.210939  1.927841  6.079042  40  14.0       56  7.994670
2018-11-19 22:45:00 -5.763298  0.947916  5.681916  45  18.0       72  8.992234
2018-11-19 23:45:00 -6.147465 -0.121189  7.052650  50  22.5       90  9.989152

In [52]:
df.apply(lambda x: x.max() - x.min())

A           2.364568
B           2.265892
C           1.811605
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [53]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2018-11-19 14:45:00   -0.062950
2018-11-19 15:45:00   -1.497514
2018-11-19 16:45:00    0.097332
2018-11-19 17:45:00   -0.720139
2018-11-19 18:45:00   -0.068493
2018-11-19 19:45:00   -1.921695
2018-11-19 20:45:00   -0.490584
2018-11-19 21:45:00    0.380945
2018-11-19 22:45:00   -0.532283
2018-11-19 23:45:00   -1.453273
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [54]:
file_name="/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt"
data=pd.read_csv(file_name)
data

FileNotFoundError: [Errno 2] File b'/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt' does not exist: b'/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt'

Let's know do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding raws) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
pd.concat(pieces)

# indexes can be ignored
#pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single raw (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')